@font-face {
  font-family: "Recursive_VF";
  src: url("./Recursive_VF_1.085--latin_basic.woff2") format("woff2-variations"), url("./Recursive_VF_1.085--latin_basic.woff2") format("woff2") ;
  font-display: fallback;
  font-weight: 100 400;
  font-style: normal;
}
* { box-sizing: inherit;}
html { box-sizing: border-box;}
body {
  margin: 0;
  height: 100%;
  background-color: #161312;
  color: #f2f2f2;
  font-family: 'Recursive_VF', sans-serif;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1ch;
}
h1 {
  text-align: center;
  color: inherit;
  font-variant: small-caps;
  letter-spacing: 0.06em;
  -webkit-animation: iridescent 5s infinite alternate;
  animation: iridescent 5s infinite alternate;
  filter: drop-shadow(0 0 3px #cc6324);
  text-shadow: 0 0 5px #af2e1b;
}
svg:not(.fullscreen) {
  fill: #d9c3b0;
  vertical-align: middle;
}
svg use {
  filter: drop-shadow(1px 1px 0px rgba(0,0,0,0.5));
}
a {
  color: #cc6324;
  text-decoration: none;
	&:hover { color: #bfa07a;}
}

.waveform {
  display: flex;
  align-items: flex-end;
  height: 3em;
}
@keyframes wave {
  0% { height: 15px; background-color: #61dafb;}
  50% { height: 50px; background-color: #ff6ec4;}
  100% { height: 25px; background-color: #3af5c8;}
}
.bar {
  width: 6px;
  height: 15px;
  margin: 0 2px;
  background-color: #61dafb;
  border-radius: 3px;
  animation: wave 1s infinite ease-in-out alternate;
    animation-delay: calc(100ms * var(--i));
    animation-play-state: paused;
}
.waveform:hover .bar {
  animation-play-state: running;
}
.bar:nth-child(2) { height: 30%;}
.bar:nth-child(3) { height: 40%;}
.bar:nth-child(4) { height: 50%;}
.bar:nth-child(5) { height: 60%;}
.bar:nth-child(6) { height: 65%;}
.bar:nth-child(7) { height: 55%;}
.bar:nth-child(8) { height: 45%;}

.main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  box-shadow: inset -5px -5px 8px 2px rgba(0, 0, 0, 0.3), inset 5px 5px 10px rgba(255, 255, 255, 0.15);
}
.main::after {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--bgAfterBackground) center;
  background-size: cover;
  filter: blur(5px);
  opacity: 0.4;
  z-index: -1;
}
.grid {
  height: calc(100vh - 140px);
  width: min(68em, 90vw);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(11, 1fr);
  background-color: hsla(208, 20%, 29%, 0.8);
  outline: 0;
  border-radius: 0.5em;
  box-shadow: inset -5px -5px 7px rgba(0, 0, 0, 0.2), inset 5px 5px 15px rgba(255, 255, 255, 0.2), -5px -5px 8px 2px rgba(0, 0, 0, 0.2), 5px 5px 10px rgba(255, 255, 255, 0.2);
}
.main .image {
  grid-area: 2 / 2 / 5 / 13;
  display: grid;
  justify-items: center;
}
.main img#track_image {
  width: min(380px, 100%);
  max-height: 350px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2), -5px -5px 12px rgba(255, 255, 255, 0.1);
  padding: 5px;
}
input[type="range"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  background-color: rgb(255 255 255 / 15%);
  border-radius: 10px;
  overflow: hidden;
  transition: background-color 300ms;
  filter: drop-shadow(1px 3px 5px rgba(0,0,0,0.4));
}
input[type="range"]:hover { background-color: #d9c3b0}
input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 12px;
  width: 8px;
  background-color: #af2e1b;
  cursor: pointer;
  box-shadow: -412px 0 0 400px #cc6324;
}
@media (pointer: coarse) {
  input[type="range"] {
    height: 10px;
  }
}
button {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3b4b59;
  color: #fff;
  font-size: 0;
  border: 4px solid #0000;
  border-radius: 50%;
  cursor: pointer;
  transition: border-color 500ms, background 400ms;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(255, 255, 255, 0.1);
	&:hover {
		border-color: #cc6324;
	}
}
.controls1 {
  grid-area: 8 / 2 / 9 / 13;
  align-self: flex-start;
}
input#duration_slider {
  flex-basis: 100%;
}
.current {
  grid-area: 8 / 2 / 9 / 13;
  align-self: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 1s;
}
#time, #duration {
  color: #fff;
  font-family: monospace;
  cursor: default;
}
.grid p {
  margin: 0;
  cursor: default;
}
#title {
  grid-area: 1 / 2 / 2 / 13;
  align-self: center;
  font-size: clamp(1.4rem, 6vw - 1rem, 2rem);
  line-height: 1.1;
}
#artist {
  grid-area: 7 / 2 / 8 / 13;
  align-self: flex-start;
  text-transform: capitalize;
  font-size: clamp(0.9rem, 4cqi, 1.5rem);
  line-height: 1.2;
  text-shadow: 0 0 3px #000;
  margin-top: 0.5em;
}
@supports (font-variation-settings: normal) {
    #title {
        font-variation-settings: "wght" 850;
    }
    #artist {
        font-variation-settings: "wght" 400, "CASL" 1, "CRSV" 1;
    }
	.fancy {
		font-variation-settings: "slnt" -15;
	}
}
/* Buttons */
.buttons {
  container-type: inline-size;
  grid-area: 8 / 2 / 10 / 13;
  align-self: flex-end;
  justify-content: space-around;
	margin:0;
	padding:0;
}
.grid ul li {
	list-style: none;
}
button#play {
  width: 64px;
  height: 64px;
	background-color: #3b4b59;
}
.controls2 {
  container-type: inline-size;
  grid-area: 10 / 2 / 11 / 13;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
p#volume_show {
  padding: 6px 12px;
  background: #3B4B59;
}
svg#fullscr,
.controls2 .mute {
  padding: 6px 6px;
  background-color: #3b4b59;
  border-radius: 4px;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
  cursor: pointer;
}
svg#fullscr:hover,
.controls2 .mute:hover {
  background-color: #cc6324;
}
.fullscreen {
  grid-area: 11 / 12 / 12 / 13;
  justify-self: flex-end;
}
.controls2 input[type="range"] {
  width: 73cqi;
}
.show_song_no {
  grid-area: 11 / 7 / 12 / 8;
  justify-self: center;
  width: 3em;
  height: 1em;
  justify-content: center;
  gap: 5px;
  padding: 1em 1.75rem;
  color: #fff;
  border-radius: 4px;
  background-color: #3B4B59;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2), inset -2px -2px 5px rgba(255, 255, 255, 0.1), 5px 5px 10px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(255, 255, 255, 0.1);
}

@media (height < 500px) and (orientation: landscape) {
  .grid { height: calc(100vh);}
}
@media (width > 800px) {
	.main .grid { grid-template-rows: repeat(10, 1fr);}
	.main .image { grid-area: 2 / 2 / 4 / 7; width: 100%;}
	input#duration_slider { margin-top: 1em;}
	#title { grid-area: 2 / 8 / 4 / 13;}
	#artist { grid-area: 4 / 8 / 6 / 13;margin-top: 0;}
  .controls1 { grid-area: 8 / 2 / 9 / 7;}
  .current { grid-area: 8 / 2 / 9 / 7;
    align-self: center;
    margin-top: 0.5em;
  }
  .buttons { grid-area: 5 / 8 / 7 / 13; justify-content: space-between;}
  .controls2 { grid-area: 8 / 8 / 9 / 13; align-self: flex-start;}
  .show_song_no { grid-area: 10 / 7 / 11 / 8;}
  .fullscreen { grid-area: 10 / 12 / 11 / 13;}
  .buttons li button {
    height: 16cqi;
    width: 16cqi;
  }
  button#play {
    width: 80px;
    height: 80px;
  }
  p#volume_show {
    margin-bottom: 0;
  }
  /* tooltips */
  .tooltip {
	position: relative;
	  &::after {
		content: attr(data-tooltip);
		position: absolute;
		left: 50%;
		top: -5ch;
		padding: 4px 8px 6px;
		margin-left: 5px;
		background-color: #161312;
		color: #fff;
		border: 1px solid #bfa07a;
		font-size: 0.8125em;
		letter-spacing: 0.05em;
		border-radius: 0.25em;
		visibility: hidden;
		opacity: 0;
		cursor: pointer;
		transition: transform 400ms, opacity 300ms;
		transform: translateX(-54%) translateY(-24px);
		text-wrap: nowrap;
	  }
	  &:hover::after {
		visibility: visible;
		opacity: 1;
		transform: translateX(-54%);
	  }
  }
}

/* helper CSS classes */
.flex {
  display: flex;
  align-items: center;
}
.md { width: 32px; height: 32px;}
.xl { width: 50px; height: 50px;}
.flip { transform: scaleX(-1);}
/* effects */
.fadeIn{-webkit-animation:opac 2s;animation:opac 2s}
@-webkit-keyframes opac{from{opacity:0} to{opacity:1}}
@keyframes opac{from{opacity:0} to{opacity:1}}
.fancy {
  position: relative;
}
.fancy:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.25ch;
  height: 0.3125em;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%23cc6324' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: round;
  background-size: auto 100%;
  background-position: 0em;
  z-index: -1;
}
@-webkit-keyframes iridescent {
  0% { color: #cc6324; }
  20% { color: #bfa07a; }
  50% { color: #FFFFFF; }
}
@keyframes iridescent {
  0% { color: #cc6324; }
  20% { color: #bfa07a; }
  50% { color: #FFFFFF; }
}