@charset "UTF-8";
/*
miXTim Icons Free 1.0.1 by @mixtim
License - https://github.com/license/free (Icons: CC BY 4.0, Code: GNU GPL 3.0)
*/
:root {
  --clr100: 210 24% 8%;
  --clr200: 210 100% 12%;
  --clr300: 210 48% 45%;  /* accent */
  --clr400: 210 90% 45%;
  --clr500: 210 30% 86%;
  --clr600: 210 30% 95%;
  --clr700: #8eb3d7;
  --clr800: #a0b3c6;
  --font-s0: clamp(.8rem,2vw,0.9rem);
  --font-s3: clamp(1.1rem, 4cqi, 1.25rem);
  --font-s2: clamp(1.5rem, 4cqi, 2rem);
  --font-s1: clamp(2.5625rem, 10vw - 1rem, 4.5rem);

}
.darkmode {
  --clr100: 210 31% 95%;
  --clr200: 210 24% 71%;
  --clr300: 210 90% 45%;
  --clr400: 210 48% 45%;
  --clr500: 210 100% 10%;
  --clr600: 210 24% 8%;
  --clr700: #1b334b;
  --clr800: #1c2e40;
}
*, *::after { box-sizing: inherit;}

html {
  box-sizing: border-box;
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
@media (prefers-reduced-motion: reduce) {
  html { scroll-behavior: auto;}
  .First, .Second { animation-duration: 10ms;}
}

body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",  sans-serif;
  background-color: hsl(var(--clr500));
  -webkit-transition: background 300ms;
  transition: background 300ms;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  paint-order: stroke fill;
}
svg path {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.hide, aside {
  display: none;
}
.img_bg {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="400" height="400" viewbox="0 0 400 400"%3E%3Cg style="fill:none;stroke-linecap:round;stroke-linejoin:round"%3E%3Cpath d="m270 119.84 170 50-70.5-70.128 80.5-70-180-10-0 100-90-70-130-20-180-10m380-100 20 100 90-60 90 70 80 100-160-30m-330 70-170-50 150-240 30 150m90 320 130 70m-310-460 90 70-80 70 70 70m-140 70 120 40 30 150 90-80-120-70 170-20 60 60 110 40 40 30m-220-340-50 80 80 50 90 60 60 120m-390-260 160 30 140-10 30 120-110 20-150-90 170 10m-160 250-90-70 60-80 20-110 90-40-80-100 90-80 130 70m-90 30 90-30 100 80-100 20-60 60-20 80-50 90 110-30 20 100 90-60 60-80-120-40-50 80" style="stroke-width:1;stroke:%2314213f"/%3E%3Cpath d="m300 240 120 90m-520-90 240 180m-80-460 120 90m-40 300 20 50m-20-450 40 100m120 190 140-70m-540 70 140-70 100 180 160-110 20-150-140-40-140 120 260 70-120-190-40 300 180-260 130-20m-270-20-260 40" style="stroke-width:.5;stroke:%2319344d"/%3E%3C/g%3E%3Cg style="fill:%23172736"%3E%3Ccircle cx="140" cy="350" r="5"/%3E%3Ccircle cx="300" cy="240" r="5"/%3E%3Ccircle cx="40" cy="170" r="5"/%3E%3Ccircle cx="320" cy="90" r="5"/%3E%3Ccircle cx="180" cy="50" r="5"/%3E%3Ccircle cx="360" cy="360" r="3"/%3E%3Ccircle cx="250" cy="320" r="3"/%3E%3Ccircle cx="20" cy="280" r="3"/%3E%3Ccircle cx="190" cy="260" r="3"/%3E%3Ccircle cx="210" cy="180" r="3"/%3E%3Ccircle cx="130" cy="130" r="3"/%3E%3Ccircle cx="270" cy="120" r="3"/%3E%3Ccircle cx="370" cy="100" r="3"/%3E%3Ccircle cx="50" cy="30" r="3"/%3E%3Ccircle cx="270" cy="20" r="3"/%3E%3C/g%3E%3C/svg%3E');
  background-attachment: fixed;
  background-repeat: repeat;
}
body:not(.darkmode) .img_bg {
  filter: invert(1);
}
body:not(.darkmode) .wrapper > * {
  filter: invert(1);
}
/* ------------------------- */
header {
  container-type: inline-size;
  padding: 2.5rem 1.75rem 1.5rem;
  text-align: center;
}
h1 {
  margin: 0;
  font-size: var(--font-s1);
  font-weight: 200;
  line-height: 0.85;
}
h1 span { font-weight: 900;}
h1 u {
  font-variant: all-small-caps;
  letter-spacing: 0.06em;
  text-decoration: none;
}
h1 + h2 {
  margin: 3rem 0;
  font-weight: 300;
  font-size: var(--font-s2);
}
header h2::after {
  content: '';
  position: absolute;
  left: 25%;
  top: 2.5rem;
  width: 50%;
  height: 5px;
  background: linear-gradient(90deg, #0000, hsla(var(--clr400) / 0.3), #0000);
}
p.desc {
  max-width: 65ch;
  margin: 1em auto;
  font-size: var(--font-s3);
  line-height: 32px;
  font-weight: 400;
  text-align: center;
}
@-moz-document url-prefix() {
  h1 {
	  font-size: clamp(2.2rem, 10vw - 1rem, 4rem);
  }
  p.desc {
    font-size: clamp(0.9375rem, 10vw - 1rem, 1.1875rem);
  }
  .grid .icon > span {
    font-size: clamp(0.875rem, 4vw - 1rem, 1rem);
  }
}
/* sólo en master, quitar en github.io */
header p:last-child { color: hsl(var(--clr200));}

a {
  color: hsl(var(--clr300));
  text-decoration: none;
  -webkit-transition: color 200ms;
  transition: color 200ms;
  &:hover {
	  color: hsl(var(--clr200));
  }
}
a span { font-size: 0;}
footer {
  margin: 0 auto;
  padding: 1rem;
  background-image: radial-gradient(circle at left center, var(--clr700) -200%, hsla(var(--clr600) / 0.4) 200%);
  font-size: var(--font-s0);
  text-align: center;
}
.engraved {
  color: hsl(var(--clr100));
  background: -webkit-gradient(linear, right top, left top, from(hsl(var(--clr300))), to(hsl(var(--clr100))));
  background: linear-gradient(-5deg, hsl(var(--clr300)), hsl(var(--clr200)), hsl(var(--clr100)));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1.5px 1px 2px hsla(var(--clr600) / 0.5), 0 -1px 8px hsla(var(--clr100)/ 0.4);
}
/* ------------------------ */
@-webkit-keyframes fade {
  from {
    opacity: var(--fromOpacity, 0);
    -webkit-transform: translate(var(--fromX, 0), var(--fromY, 0)) rotateY(60deg);
            transform: translate(var(--fromX, 0), var(--fromY, 0)) rotateY(60deg);
  }
  to {
    opacity: var(--toOpacity, 0.9);
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fade {
  from {
    opacity: var(--fromOpacity, 0);
    -webkit-transform: translate(var(--fromX, 0), var(--fromY, 0)) rotateY(60deg);
            transform: translate(var(--fromX, 0), var(--fromY, 0)) rotateY(60deg);
  }
  to {
    opacity: var(--toOpacity, 0.9);
    -webkit-transform: none;
            transform: none;
  }
}

.First {
  --fromY: -40px;
  --fromOpacity: 0;
  --toOpacity: 1;
  -webkit-animation: fade 1s forwards;
          animation: fade 1s forwards;
}

.Second {
  --fromY: 30px;
  -webkit-animation: fade 1.5s forwards;
          animation: fade 1.5s forwards;
}
/* ------------------------- */
#progress {
  position: fixed;
  width: 0;
  height: 0.3125em;
  background-color: hsl(var(--clr300));
  -webkit-transition: width 150ms ease-out;
  transition: width 150ms ease-out;
}
.progress-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 0.3125em;
  background-color: hsla(var(--clr200) / 0.2);
  z-index: 1;
}
.version {
  width: min-content;
  margin: 2.5em auto 3em;
  padding: 0.25rem 0.5rem;
  background-color: hsl(var(--clr400));
  color: var(--clr700);
  font-weight: bold;
  font-size: var(--font-s0);
  border-radius: 2px;
}
details {
  max-width: 60ch;
	margin: 1.5em auto;
  background-color: var(--clr800);
  border-radius: 5px;
  -webkit-transition: transform 200ms;
  transition: transform 200ms ease-in;
}
summary {
  padding: 10px;
  cursor: pointer;
  &:hover {
    color: hsl(var(--clr300));
  }
}
summary::marker { color: hsl(var(--clr400));}
details section { padding: 6px 12px 14px;}
details[open] section { color: hsl(var(--clr200));}
details:active { transform: scale(0.98);}
/* Theme switch */
#theme-switch {
  padding: 0;
  position: fixed;
  top: 18px;
  right: 12px;
  height: 41px;
  width: 41px;
  display: grid;
  place-items: center;
  background-color: hsla(var(--clr200) / 0.75);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 300ms, opacity 300ms linear;
  transition: background-color 300ms, opacity 300ms linear;
  z-index: 1;
&:hover {
  background-color: hsl(var(--clr400));
  opacity: 1;
}
}
#theme-switch svg {
  fill: hsl(var(--clr600));
}
#theme-switch svg:last-child {
  display: none;
}
.darkmode #theme-switch svg:first-child {
  display: none;
}
.darkmode #theme-switch svg:last-child {
  display: block;
}
/* ------------------------ */
.search-box {
  width: min(25em,64%);
  position: sticky;
  top: 1.25rem;
  margin: 0 auto;
  z-index: 1;
}
.search {
  height: 48px;
  width: 100%;
  padding: 5px 12px;
  background-color: hsla(var(--clr500) / 0.9);
  border: 2px solid hsla(var(--clr400) / 0.5);
  color: inherit;
  font-size: var(--font-s3);
	letter-spacing: 0.02em;
  border-radius: 50px;
  box-shadow: 0 0 22px -15px;
  -webkit-transition: 300ms;
  transition: 300ms;
  &:hover {
	  border-color: hsl(var(--clr400));
  }
  &:focus {
    outline: none;
    background-color: hsla(var(--clr600) / 0.9);
    box-shadow: 0 0 0 2px #fff;
  }
}
.empty {
  font-size: 32px;
  position: absolute;
  right: 1rem;
  top: -3px;
  display: none;
  cursor: pointer;
}
/* ------------------------ */
.wrapper {
  container-type: inline-size;
  position: relative;
  min-height: 100dvh;
  color: hsl(var(--clr100));
  line-height: 1.5;
  text-wrap: pretty;
  -webkit-transition: filter 250ms ease-in;
  transition: filter 250ms ease-in;
}
.wrapper:after {
  content: '';
  position: absolute;
  inset: 0;
  filter: url(#noise-fx);
  opacity: 0.25;
  z-index: -1;
}
.grid {
  max-width: 81rem;
  margin: 3rem auto;
  padding: 2rem clamp(12px, 3vw - 1rem, 24px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(99px, 1fr));
  -ms-grid-columns: (minmax(99px, 1fr))[auto-fit];
  justify-items: center;
  gap: 3rem 3vmin;
  background-color: hsla(var(--clr600) / 0.25);
  list-style-type: none;
  border-radius: 1rem;
}
.grid .icon {
  position: relative;
  min-width: 90px;
  padding: 0.33rem 0.15rem;
  display: grid;
  align-content: space-between;
  justify-items: center;
  gap: 0.33rem;
  aspect-ratio: 1;
  background-color: hsla(var(--clr100) / 2%);
  border: 4px solid #0000;
  border-radius: 0.5rem;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
  cursor: pointer;
  &:hover {
    box-shadow: -0.5rem -0.5rem 1rem hsl(var(--clr600)),
        0.5rem 0.5rem 1rem hsla(var(--clr400) / 0.2) inset,
        -0.4rem -0.4rem 1rem hsla(var(--clr600) / 0.3) inset;
    border-color: hsla(var(--clr400) / 0.5);
    backdrop-filter: blur(3px);
  }
}
.grid .icon:hover .my-icon:not(.popGrid .ico svg.my-icon) {
  stroke: hsl(var(--clr600));
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform: scale(1.1) translateY(2px);
  filter: drop-shadow(0 0 12px hsl(var(--clr100)));
}
.grid .icon > span {
  font-size: clamp(0.9375rem, 4vw - 1rem, 1rem);
  text-wrap: nowrap;
  transform: translateY(-0.5rem);
}

.my-icon {
  display: block;
  fill: currentColor;
  width: 32px;
  height: 32px;
  transform-origin: top;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}
.icon.active { z-index: 1;}
.icon.active svg {
  fill: hsl(var(--clr400));
}
/* ------------------------ */
.popGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1vmin 0;
}
.popGrid .ico svg.my-icon {
  display: inline-block;
  fill: currentColor;
  transform: scale(1);
  filter: none;
  cursor: initial;
}
.popGrid .ico.x128 svg.my-icon {
  width: 128px;
  height: 128px;
}
.popGrid .ico.x48 svg.my-icon {
  width: 48px;
  height: 48px;
}
.popGrid .ico.x16 svg.my-icon {
  width: 16px;
  height: 16px;
}
/* ------------------------ */
.popover {
  position: absolute;
  top: -55%;
  left: 50%;
  translate: -52% -55%;
  padding: 0 0.5em 1em;
  background: linear-gradient(hsl(var(--clr400)), #fff 27%);
  color: #555;
  border: 1px solid hsl(var(--clr500));
  box-shadow: 2px 4px 10px #1136;
  border-radius: 5px;
}
.popover:after {
  content: '';
  position: absolute;
  border: 12px solid transparent;
  border-top-color: #fff;
  top: 99%;
  left: 61px;
  filter: drop-shadow(0px 8px 4px #1136);
}
.popover .close {
  position: absolute;
  right: 5px;
  top: -4px;
  font: 2em/1.1 sans-serif;
  opacity: 0.7;
  border-radius: 1em;
  cursor: pointer;
  -webkit-transition: color 250ms ease-out;
  transition: color 250ms ease-out;
  &:hover {
    color: red;
    text-shadow: 1px 1px 0 #0008;
  }
}
.popover h3 {
  color: #000;
  font-size: 22px;
  text-align: left;
}
/* ------------------------ */
.license {
  width: min(75ch, 80%);
  margin: 2rem auto 4rem;
}

#arrowTop {
  position: fixed;
  top: 12px;
  left: 12px;
  color: hsl(var(--clr400));
  font-size: 1.5rem;
  cursor: pointer;
  &::before {
    content: '▲';
  }
}

.github-link {
  position: sticky;
  left: 0;
  top: 1rem;
  overflow: hidden;
	z-index: 1;
}
.stick {
  position: relative;
	left: -120px;
	width: min-content;
  display: grid;
  grid-template-columns: minmax(125px, 75%) 1fr;
  align-items: center;
  justify-items: center;
  background-color: hsl(var(--clr600));
  font-size: var(--font-s3);
  border-radius: 0 24px 24px 0;
  -webkit-transition: left 400ms ease-in-out;
  transition: left 400ms ease-in-out;
  user-select: none
}
.stick:hover { left: 0;}
.bubble {
	width: 46px;
  height: 46px;
  display: grid;
  place-items: center;
	border-radius: 50%;
  background-color: hsl(var(--clr200));
  pointer-events: none;
  border: 2px solid var(--clr700);
  box-shadow:
  0.2em 0 0.1em hsla(var(--clr400) / 0.6) inset,
  0.25em 0.25em 0.1em #fff inset,
  0.6em 0.6em 0.4em 0.5em hsla(var(--clr500) / 0.4) inset;
}
.stick:hover .bubble {
  background: radial-gradient(#fff, hsl(var(--clr300)));
}
/* ------------------------ */
svg.my-icon .xl { width: 250px; height: 250px;}
.flip-h { transform: scaleX(-1);}
.flip-v { transform: scaleY(-1);}
.rot-45r { transform: rotate(45deg);}
.rot-45l { transform: rotate(-45deg);}
.rot-90r { transform: rotate(90deg);}
.rot-90l { transform: rotate(-90deg);}
.spin {
  transform-origin: center;
  animation: spin 2s infinite linear;
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@media screen and (width > 500px) {
  ::-webkit-scrollbar {width: 8px;}
  ::-webkit-scrollbar-track {
    background: linear-gradient(var(--clr700),var(--clr800));
    box-shadow: 0 0 8px #000 inset;}
  ::-webkit-scrollbar-thumb {
    background: hsla(var(--clr400) / 0.5);
    border-radius: 2px;
    box-shadow: 0 0 4px #000 inset;}
  ::-webkit-scrollbar-thumb:hover {
	  background: hsl(var(--clr400));
  }
  .popover p { display: none;}
  #theme-switch { opacity: 0.3;}
  .stick { text-align: left;}
}