* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  --brand-hue: 200;
  --brand-saturation: 100%;
  --brand-lightness: 50%;
  --brand-light: hsl(var(--brand-hue) var(--brand-saturation) var(--brand-lightness));
  --brand-dark: hsl(var(--brand-hue) calc(var(--brand-saturation) / 2) calc(var(--brand-lightness) / 1.5));

  --text1-light: hsl(var(--brand-hue) var(--brand-saturation) 10%);
  --text2-light: hsl(var(--brand-hue) 30% 30%);
  --surface1-light: hsl(var(--brand-hue) 20% 99%);
  --surface2-light: hsl(var(--brand-hue) 20% 92%);
  --surface3-light: hsl(var(--brand-hue) 25% 90%);
  --surface4-light: hsl(var(--brand-hue) 25% 85%);

  --text1-dark: hsl(var(--brand-hue) 15% 85%);
  --text2-dark: hsl(var(--brand-hue) 5% 65%);
  --surface1-dark: hsl(var(--brand-hue) 10% 10%);
  --surface2-dark: hsl(var(--brand-hue) 10% 15%);
  --surface3-dark: hsl(var(--brand-hue) 5%  20%);
  --surface4-dark: hsl(var(--brand-hue) 5% 25%);
  -webkit-tap-highlight-color: transparent;
}
:root {
	--brand: var(--brand-light);
	--app-container: var(--surface4-light);
	--main-color: var(--text1-light);
	--secondary-color: var(--text2-light);
	--task: var(--surface1-light);
	--surface1: var(--surface1-light);
	--surface2: var(--surface2-light);
	--surface3: var(--surface3-light);
	--surface4: var(--surface4-light);
	--light: #fff;
	--link-color: var(--brand-dark);
	--link-active-bg: var(--surface2-dark);
	--task-hover: #f5f8ff;
}
.dark:root {
	--brand: var(--brand-dark);
	--app-container: var(--surface1-dark);
	--main-color: var(--text1-dark);
	--secondary-color: var(--text2-dark);
	--task: var(--surface2-dark);
	--surface1: var(--surface1-dark);
	--surface2: var(--surface2-dark);
	--surface3: var(--surface3-dark);
	--surface4: var(--surface4-dark);
	--link-color: rgba(255,255,255,.8);
	--link-active-bg: var(--brand-dark);
	--task-hover: #324052;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
body {
  height: 100%;
  margin: 0;
  background-color: var(--surface3);
  background-image: repeating-radial-gradient( circle, var(--surface2), var(--surface2) 40%, transparent 40%, transparent 55%, var(--surface2) 55%, var(--surface2) 100% );
  background-size: 10px 10px;
  overflow-y: hidden;
}
a {
  color: var(--link-color);
  -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.56, 1);
  transition: all 300ms cubic-bezier(0.19, 1, 0.56, 1);
}
a:hover {
  color: var(--brand-light);
  text-decoration: none;
}
a:focus {
  color: var(--light);
  background-color: var(--link-active-bg);
}
button, a {
  cursor: pointer;
}

.app {
  width: min(500px, 100%);
  height: calc(100% - 60px);;
  margin: 0 auto;
  padding: 2em 1em;
  background: linear-gradient(var(--brand), #0000);
  font-family: "Exo 2", sans-serif;
}

.mode-switch {
  position: absolute;
  right: 4vw;
  top: 2rem;
  height: 24px;
  background-color: #0000;
  border: none;
  color: var(--main-color);
  padding: 0;
}

.title {
  margin-bottom: 10px;
  color: var(--light);
  font-weight: 800;
  font-size: xx-large;
  letter-spacing: 0.05rem;
  text-shadow: 1px 1px var(--surface2-dark)
}

.nuevaTarea {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 9% 82% 9%;
  justify-content: end;
}

.uc-heavy-plus::before {
  content: '\2795';
  position: relative;
  display: inline-block;
  font-size: 1.3em;
  text-rendering: auto;
  text-shadow: 1px 1px var(--surface4-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.uc-heavy-plus:hover {
  transform-origin: top;
  transform: rotate(0.25deg);
  transition: transform 200ms cubic-bezier(0.5, 120, 0.5, -120);
}

#inputNuevaTarea {
  background: linear-gradient(to right, var(--light), #0000);
  border: none;
  width: 97%;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 3px;
}
#btnAgregarTarea {
  font-size: large;
  border-radius: 1em;
}
p {
	font-size: calc(1vmin + 12px);
	line-height: 28px;
	font-weight: 700;
	opacity: .9;
	margin: 0;
	color: var(--secondary-color);
	text-align: center;
}

#contenedorTareas {
  padding-left: 0;
}
li {
  list-style-type: none;
  margin: 8px 0;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  background: var(--task);
  border-radius: 4px;
}
li:hover {
  background-color: var(--task-hover);
}
li span {
  color: var(--main-color);
  text-align: left;
}
a.enlace-eliminar {
  padding: 0 4px 4px 0;
  text-decoration: none;
  font-size: x-large;
}
.tachado {
  text-decoration: line-through;
}
.edit {
  border-color: transparent;
  height: 30px;
  width: 90%;
}

footer {
  position: fixed;
  bottom: 0;
  width: min(500px, 100%);
  margin-left: -1em;
}
footer p {
  padding: 1em 2em;
  text-align: right;
  background-color: var(--link-active-bg);
  color: var(--secondary-color);
}

.anim-opacity {-webkit-animation: opac 1s ease-out;animation: opac 1s ease-out;}
@-webkit-keyframes opac {0% {opacity: 0;} 100% {opacity: 1;}}@keyframes opac {0% {opacity: 0;} 100% {opacity: 1;}}

.markdown-body {
	margin: 0 !important;
	padding: 0 !important;
}
h1 {	display: none; }
